head{
    text-align: center;
}

body{
    
}
.subtitle{
    text-align:center;
}

cast{
    text-align:center;
    color:blue;
    
}
story{
    text-align:right;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
